<mainComponent>
    <section>
        <p>
            Esta aplicação é um Sistema de Cadastro de Alunos desenvolvido com Angular. O projeto tem como objetivo fornecer um formulário simples para o cadastro de alunos, tudo isso utilizando rotas para navegação entre as páginas.<br><br>

            <strong>Estrutura:</strong><br><br>
        </p>
        <ol>
            <li>HeaderComponent</li>
            <li>MainComponent</li>
            <li>FormularioView</li>
            <li>InformacaoView</li>
        </ol>
        <p>
            <br><strong>Navegação:</strong><br><br>
        </p>
        <ul>
            <li>Rota (/) leva a View de formulário;</li>
            <li>Rota (/info) leva a View de informações do projeto.</li>
        </ul>

        <p>
            <br>
            A aplicação utiliza o two-way data binding com [(ngModel)] para capturar as informações dos alunos no formulário e exibi-lo em tempo real. A lista de alunos é exibida com a diretiva ngFor e, caso não haja alunos cadastrados, uma mensagem é mostrada, utilizando a diretiva ngIf.<br><br>

            A navegação entre as páginas é simplificada por meio de links no cabeçalho, usando a diretiva routerLink.<br><br>

            Esse projeto é uma forma simples e prática de aprender conceitos importantes do Angular, como componentes, rotas e data binding.
        </p>
    </section>
</mainComponent>