.pai{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pai div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    & p{
        color: #5eead4;
    }
}

.contatos{
    padding-right: 20px;
    height: 700px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
