<div class="pai">
    <div>
        <h1>Lista de contatos</h1>
        <p>Visualize os seus contatos cadastrados.</p>
    </div>

    <filtroComponent [grupos]="grupos" (aplicar)="addFiltro($event)"/>

    <p *ngIf="contatos.length == 0">Nenhum contato cadastrado ainda.</p>

    <div class="contatos" *ngIf="filtroCtt != 'null'">
        <fichaComponent *ngFor="let contato of contatosVisiveis" [grupos]="grupos" [contato]="contato" (editCtt)="editarContato($event)" (excluirCtt)="excluirContato($event)" (toggleFav)="toggleFavoritar($event)" />
        
    </div>
    <div class="contatos" *ngIf="filtroCtt == 'null'">
        <fichaComponent *ngFor="let contato of contatos" [grupos]="grupos" [contato]="contato" (editCtt)="editarContato($event)" (excluirCtt)="excluirContato($event)" (toggleFav)="toggleFavoritar($event)" />
    </div>
</div>
