<baseLayout>
    <div class="conteudo">
        <button>
            <span style="width: 12px;"><iconChange icon="mais" /></span>
            Adicionar cliente
        </button>

        <div class="listagem">
            <h2>Clientes Cadastrados</h2>
            <div>
                <div>
                    <h3>João Silva</h3>
                    <p>CPF: 123.456.789-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
                <div>
                    <h3>João Silva</h3>
                    <p>CPF: 123.456.789-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
                <div>
                    <h3>João Silva</h3>
                    <p>CPF: 123.456.789-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
                <div>
                    <h3>João Silva</h3>
                    <p>CPF: 123.456.789-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
                <div>
                    <h3>João Silva</h3>
                    <p>CPF: 123.456.789-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
                <div>
                    <h3>Maria Oliveira</h3>
                    <p>CPF: 987.654.321-00</p>
                </div>
            </div>
        </div>
    </div>
</baseLayout>