<baseLayout>
    <div class="conteudo">
        <button (click)="abrirModal()">
            <span style="width: 12px;"><iconChange icon="mais" /></span>
            Adicionar cliente
        </button>

        <div class="listagem">
            <h2>Clientes Cadastrados</h2>
            <div>
                <div *ngFor="let cliente of clientes">
                    <h3>{{cliente.nome}}</h3>
                    <p>CPF: {{cliente.cpf}}</p>
                </div>
                <p *ngIf="clientes.length == 0">Nenhum cliente cadastrado ainda.</p>
            </div>
        </div>
    </div>
    <modalBaseModal *ngIf="abrirCadastro" [titulo]="'Cadastrar Cliente'" (acao)="acaoModal($event)">
        <inputsComponent [idInput]="'nomeCliente'" [nomeCampo]="'Nome'" [placeholder]="'Nome Completo'" [tipoInput]="'text'" [(ngModel)]="clienteadd.nome"/>
        <inputsComponent [idInput]="'cpfCliente'" [nomeCampo]="'CPF'" [placeholder]="'000.000.000-00'" [tipoInput]="'text'" [(ngModel)]="clienteadd.cpf" />
    </modalBaseModal>
</baseLayout>