.ficha{
    position: relative;
    width: 100%;
    height: 282px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #1e293b;

    & .infos{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    & span.titulo{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #14b8a6;
        width: 100%;
        padding: 10px 20px 10px;
    }
}

.funcoes{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 10px;
    
    & span{
        cursor: pointer;
    }

    & div{
        display: flex; 
        gap: 10px; 
        width: 100%;
    }

    & .semEdit{
        flex-direction: row;
        justify-content: space-between;
    }
}

input{
    width: 100%;
    color: white;
    padding: 10px 8px;
    border-radius: 8px;
    outline: none;
    background-color: #334155;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder{
    color: rgba(255, 255, 255, 0.3);
}

input:focus{
    border: 1px solid #5eead4;
}